.SecondScreen {
  display: flex;
  flex-flow: column;
  background-color: #D0D0D0;
  color: black;
  line-height: 30px;
}

.SecondScreen_headline {
  font-family: 'Roboto', sans-serif;
}

.SecondScreen_button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 15%;
  margin: 15px 0;
  background-color: #0275d8;
  border: 0;
  transition: background-color 0.5s ease;
}

.SecondScreen_button:hover {
  color: white;
  background-color: #339cf5;
}

#PricesScreen {
  display: flex;
  flex-flow: row;
  justify-content: center;
  min-height: 540px;
  height: 540px;
}

.PricesScreen_text {
  display: flex;
  flex-flow: column;
  flex: 1 1 0px;
  align-items: center;
  justify-content: center;
}

.PricesScreen_text_item {
  display: flex;
}

.PricesScreen_text_item_end {
  margin-bottom: 10px;
}

.PricesScreen_image {
  display: flex;
  flex: 1 1 0px;
  height: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/pricesImage_960x540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#OrderScreen {
  display: flex;
  flex-flow: row;
  min-height: 540px;
  height: 540px;
}

.OrderScreen_image {
  display: flex;
  flex: 1 1 0px;
  height: 100%;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/orderImage_960x540.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.OrderScreen_text {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 0px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  #PricesScreen {
    height: auto;
  }

  .PricesScreen_text {
    align-items: flex-start;
  }

  .PricesScreen_image {
    height: inherit;
  }

  .OrderScreen_text {
    align-items: flex-start;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 480px)
and (orientation : landscape) {

}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px)
and (orientation : portrait) {
  .PricesScreen_text {
    padding-left: 5px;
  }

  .PricesScreen_image {
    display: none;
  }

  .OrderScreen_text {
    padding-left: 5px;
  }

  #PricesScreen {
    flex-flow: column;
  }

  #OrderScreen {
    flex-flow: column;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .PricesScreen_text {
    margin-left: 10px;
    align-items: flex-start;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {

}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
